---
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import { getCollection } from "astro:content";

const blogPosts = (await getCollection("blogs")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
// console.log(blogPosts);
---

<Layout title="Blog...">
  <Header />
  <main class="w-4xl max-w-4xl mx-auto flex-wrap">
    <h1 class="text-l">
      Welcome to <span class="text-gradient">PNN El Cocuy Blog</span>
    </h1>
    <ul
      role="list"
      class="flex flex-wrap justify-center w-full mt-8 mx-auto gap-8"
    >
      {
        blogPosts.map((blogPost) => (
          <Card
            title={blogPost.data.title}
            date={blogPost.data.pubDate}
            imgSrc={blogPost.data.imgSrc}
            imgAlt={blogPost.data.imgAlt}
            description={blogPost.data.description}
            slug={blogPost.slug}
          />
        ))
      }
    </ul>
  </main>
</Layout>

<h3>Blog...</h3>

<style>
  main {
    margin: auto;
    padding: 1rem;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    margin-bottom: 1.2rem;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
