---
import { Image } from "astro:assets";

interface Props {
  imgSrc: string;
  imgAlt: string;
  description: string;
  className?: string;
  title: string;
  body: string;
  date: string;
  href: string;
}
const { className, imgSrc, imgAlt, description, title, body, date, href } =
  Astro.props;
---

<article class="w-60 h-80 bg-slate-400 rounded-md p-4">
  <a href={href}>
    <!-- <div class="bg-slate-50 w-full h-1/2 rounded-t-md"></div> -->
    <img src={imgSrc} alt={imgAlt} class="h-1/2 w-full rounded-t-md" />

    <!-- <Image src={image} /> -->
    <div class="mt-4">
      <h3 class="font-semibold">{title}</h3>
      <p class="text-base">{body}</p>
      <span class="text-sm font-thin">{date}</span>
    </div>
  </a>
</article>
