---
import type { SlotString } from "astro/runtime/server/render/slot.js";
import { Image } from "astro:assets";

interface Props {
  imgSrc: string;
  imgAlt: string;
  description: string;
  className?: string;
  title: string;
  body: string;
  date: string | number;
  slug: string;
}
const { className, imgSrc, imgAlt, description, title, body, date, slug } =
  Astro.props;
---

<article class="max-w-60 h-80 bg-slate-800 rounded-md p-4 min-w-52 flex">
  <a href={`/blog/${slug}`}>
    <!-- <div class="bg-slate-50 w-full h-1/2 rounded-t-md"></div> -->
    <img src={imgSrc} alt={imgAlt} class="h-1/2 w-full rounded-t-md" />

    <!-- <Image src={image} /> -->
    <div class="mt-4">
      <h3 class="font-semibold text-sm text-pretty">{title}</h3>
      <p class="text-sm">{description}</p>
      <span class="font-thin text-xs">{date}</span>
    </div>
  </a>
</article>
